<%= form_for @concert do |f| %>
	<p>
	<%= f.label :year %><br>
	<%= f.text_field :year %>
	</p>
	
	<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
	<% if @concert.errors.any? %>
	<%= @concert.errors.messages[:title][0] %>
	<% end %>
        </p>
        
        <p><%= f.submit %></p>
<% end %>