

<p>Edit</p>

<%= form_for @location,:url => {:controller => 'locations', :action => 'update'} do |f| %>
	<p>
	<%= f.label :monthday %><br>
	<%= f.text_field :monthday %>
	</p>
	
	<p>
	<%= f.label :prefecture %><br>
	<%= f.text_field :prefecture %>
	</p>
	
	<p>
	<%= f.label :place %><br>
	<%= f.text_field :place %>
	</p>
	
	<p><%= f.submit %></p>
<% end %>